<h1>BookSH</h1>
<% if @books == [] %>
  <p>NO books</p>
<% else %>
  <% @books.each do |book| %>
    <hr>
    <%= link_to image_tag(book.photos[0].url, size: "300x500"), book_path(book.id) %>  	<br>
    <%= link_to book.title, book_path(book.id) %><br>
    <h3><%= book.author %></h3><br>
    <strong>Price: </strong>
    <%= book.price %>
    <%= Currency.find_by(id: book.currency_id).try(:title) %> <br>
   	<hr>
  <% end %>
<% end %>
