<h1>Add new book</h1>
<%= form_for @book, url: {action: "create"} do |f| %>

<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <strong>Book title</strong><br>
    <%= f.text_field :title %><br />
  <strong>Book description</strong><br>
    <%= f.text_area :description, size: "60x12" %><br />
  <strong>Price</strong><br>
    <%= f.text_field :price %>
    <%= f.select :currency_id  , Currency.all.collect {|p| [ p.title, p.id ]}, :prompt => 'Choose a type of currency'%> <br>

    <%= f.select :genre_id  , Genre.all.collect {|p| [ p.title, p.id ]}, :prompt => 'Choose a genre'%> <br>

    <%= f.select :language_id  , Language.all.collect {|p| [ p.title, p.id ]}, :prompt => 'Choose a book language'%> <br>

  <strong>Book author</strong> <br>
      <%= f.text_field :author %><br />
  <strong>Year of publication</strong><br>
      <%= f.text_field :year %><br />
  <strong>Pages</strong><br>
      <%= f.text_field :pages %><br />
  <strong>Add photos</strong><br>
    <%= f.file_field :photos, multiple: true %><br><br>
  <%= f.submit "Create" %>
<% end %>
