<h1> «<%= @book.title %>» <%= @book.author %><br></h1>
<strong>Photos:</strong> <br>
	<% @book.photos.each do | photo | %>
		<%= image_tag(photo.url, size: "300x500")%>	<br> <br>
	<% end %>
  <strong>Price: <%= @book.price %> <%= Currency.find_by(id: @book.currency_id).try(:title) %> <br></strong> <br>
  <strong>Short description</strong> <br>
  <%= @book.description %> <br> <br>
<strong>Characteristic</strong><br>
Genre: <%= Genre.find_by(id: @book.genre_id).try(:title) %> <br>
Language: <%= Language.find_by(id: @book.language_id).try(:title) %><br>
Year: <%= @book.year %><br>
Pages: <%= @book.pages %><br>

<% if user_signed_in? %>
  <% if @book.user_id == current_user.id %>
  <hr>
  <%= link_to "Edit", edit_book_path %> |
  <%= link_to "Delete", book_path(@book.id), method: :delete %>
<% end %>

<% end %>

<p><%= link_to "Write Comment", new_book_comment_path(@book.id) %></p>

<% @comments.each do |comment| %>
   <p>
    User <b><%= comment.user.email.split("@").first %></b>: <br />
    <%= comment.body %><br />
   </p>
<% end %>
